.cid-uxk8jD0frN  .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(241, 118, 69, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
} 
.cid-uxk8jD0frN  .navbar {
  background: transparent !important;
}
.cid-uxk8jD0frN  .navbar .navbar-logo img {
  min-width: 6rem;
  object-fit: cover;
}
.cid-uxk8jD0QWW {
  display: flex;
  background-image: url("images/freepik__expand__61135.png");
}
  .cid-uxk8jD0QWW .row {
    justify-content: center;
  }
.cid-uxk8jD0QWW .mbr-section-title,
.cid-uxk8jD0QWW .mbr-text,
.cid-uxk8jD0QWW .mbr-section-btn {
  text-align: center;
}
.cid-uxk8jD0bny {
  display: flex;
  padding-top: 6em;
  padding-bottom: 5em;
  background-color: var(--dominant-color, #393193);
}
@media (min-width: 768px) {
  .cid-uxk8jD0bny {
      align-items: center;
  }
  .cid-uxk8jD0bny .row {
      justify-content: center;
  }
}
.cid-uxk8jD0bny .mbr-section-title,
.cid-uxk8jD0bny .mbr-text,
.cid-uxk8jD0bny .mbr-section-btn {
  text-align: center;
  color: var(--dominant-text, #ffffff);
}
.cid-uxk8jD0e3m .item:focus,
.cid-uxk8jD0e3m span:focus {
  outline: none;
}
.cid-uxk8jD0e3m .item {
  cursor: pointer;
}
.cid-uxk8jD0e3m .grid-container {
  grid-row-gap: 2rem;
}
@media (max-width: 767px) {
  .cid-uxk8jD0e3m .grid-container {
    grid-row-gap: 1rem;
  }
}
.cid-uxk8jD0e3m .grid-container-1,
.cid-uxk8jD0e3m .grid-container-2 {
  gap: 0 2rem;
}
@media (max-width: 767px) {
  .cid-uxk8jD0e3m .grid-container-1,
  .cid-uxk8jD0e3m .grid-container-2 {
    gap: 0 1rem;
  }
}
.cid-uxk8jD0e3m .mbr-section-title {
  color: #000000;
}
.cid-uxk8jD0e3m .mbr-text,
.cid-uxk8jD0e3m .mbr-section-btn {
  color: #000000;
}
.cid-uxk8jD0e3m .content-head {
  max-width: 800px;
}
.cid-uxk8jD0e3m .container,
.cid-uxk8jD0e3m .container-fluid {
  overflow: hidden;
}
.cid-uxk8jD0e3m .grid-container {
  display: grid;
  transform: translate3d(-3rem, 0, 0);
  width: 115vw;
  grid-column-gap: 1rem;
}
.cid-uxk8jD0e3m .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-uxk8jD0e3m .grid-item img {
  min-width: 30vw;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-uxk8jD0e3m .grid-item img {
    min-width: 35vw;
  }
}
.cid-uxk8jD0e3m .grid-container-1,
.cid-uxk8jD0e3m .grid-container-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.cid-uxk8jD0e3m .grid-container-1 {
  align-items: flex-end;
}
.cid-uxk8jD0e3m .grid-container-2 {
  align-items: flex-start;
}
.cid-uxk8jD1vuS {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uxk8jD1vuS .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.cid-uxk8jD1vuS .item-wrapper {
  margin-bottom: 2rem;
}
.cid-uxk8jD1vuS .card-title,
.cid-uxk8jD1vuS .iconfont-wrapper {
  color: #000000;
}
.cid-uxk8jD1vuS .card-text {
  color: #000000;
  text-align: center;
}
.cid-uxk8jD1vuS .content-head {
  max-width: 800px;
}
.cid-uxk8jD1vuS .mbr-section-title {
  color: #000000;
}
.cid-uxk8jD1vuS .card-title,
.cid-uxk8jD1vuS .img-wrapper {
  text-align: center;
}
.cid-uxk8jD1vuS .img-wrapper {
  display: flex;
  justify-content: center;
}
.cid-uxk8jD4WqK {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-uxk8jD4WqK .mbr-fallback-image.disabled {
  display: none;
}
.cid-uxk8jD4WqK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-uxk8jD4WqK .card-content-text {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
}
@media (min-width: 768px) {
  .cid-uxk8jD4WqK .card-content-text {
    padding: 0 2.25rem 2.25rem 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-uxk8jD4WqK .card-content-text {
    padding: 1rem 4rem 4rem 4rem;
  }
}
.cid-uxk8jD4WqK .card-wrapper {
  background: #ffffff;
}
.cid-uxk8jD4WqK .mbr-text,
.cid-uxk8jD4WqK .mbr-section-btn {
  color: #000000;
  text-align: left;
}
.cid-uxk8jD4WqK .card-title,
.cid-uxk8jD4WqK .card-box {
  text-align: left;
  color: #000000;
} 
  .cid-uxk8jD4yUg {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
  }
  .cid-uxk8jD4yUg .item-subtitle {
    line-height: 1.2;
    color: #000000;
  }
  .cid-uxk8jD4yUg img,
  .cid-uxk8jD4yUg .item-img {
    width: 100%;
    height: 100%;
   
    object-fit: cover;
  }
  .cid-uxk8jD4yUg .item:focus,
  .cid-uxk8jD4yUg span:focus {
    outline: none;
  }
  .cid-uxk8jD4yUg .item {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-uxk8jD4yUg .item {
      margin-bottom: 1rem;
    }
  }
  .cid-uxk8jD4yUg .item-wrapper {
    position: relative;
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
  .cid-uxk8jD4yUg .mbr-section-title,
  .cid-uxk8jD4yUg .mbr-text,
  .cid-uxk8jD4yUg .mbr-section-btn,
  .cid-uxk8jD4yUg .item-title {
    color: #232323;
  }
  .cid-uxk8jD4yUg .content-head {
    max-width: 800px;
  }  
  .cid-uxk8jD5ibE {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
  }
  .cid-uxk8jD5ibE .social-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .cid-uxk8jD5ibE .social-row .soc-item {
    margin: 8px;
  } 
  .cid-uxk8jD5ibE .social-row .soc-item a .mbr-iconfont {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 32px;
   
    transition: all 0.3s ease-in-out;
  }
  .cid-uxk8jD5ibE .row-links {
    width: 100%;
    justify-content: center;
  }  
  .cid-uxk8jD5ibE .mbr-section-title,
  .cid-uxk8jD5ibE .social-list {
    color: #000000;
  }
  .cid-uxk8jD5bev {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: transparent;
  }
  .cid-uxk8jD5bev .mbr-overlay {
    background-color: #ffffff;
    opacity: 0.4;
  }
  .cid-uxk8jD5bev form .mbr-section-btn {
    text-align: center;
    width: 100%;
  }
  .cid-uxk8jD5bev form .mbr-section-btn .btn {
    display: inline-flex;
  }
  @media (max-width: 991px) {
    .cid-uxk8jD5bev form .mbr-section-btn .btn {
      width: 100%;
    }
  }
  .cid-uxk8jD5bev .content-head {
    max-width: 800px;
  }    
  .cid-uxk8jD5JIm {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #000000;
  }
  .cid-uxk8jD5JIm .social-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .cid-uxk8jD5JIm .social-row .soc-item {
    margin: 8px;
  }
  .cid-uxk8jD5JIm .social-row .soc-item a:hover .mbr-iconfont,
  .cid-uxk8jD5JIm .social-row .soc-item a:focus .mbr-iconfont {
    background-color: #ffffff;
  }
  .cid-uxk8jD5JIm .social-row .soc-item a .mbr-iconfont {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 32px;
    background-color: #edefeb;
    color: #000000;
    transition: all 0.3s ease-in-out;
  }
  .cid-uxk8jD5JIm .row-links {
    width: 100%;
    justify-content: center;
  }
  .cid-uxk8jD5JIm .header-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
  }
  .cid-uxk8jD5JIm .header-menu li {
    padding: 0 1rem 1rem 1rem;
  }
  .cid-uxk8jD5JIm .header-menu li p {
    margin: 0;
  }
  .cid-uxk8jD5JIm .copyright {
    margin-bottom: 0;
    color: #ffffff;
    text-align: center;
  }
  .cid-uxk8jD5JIm .mbr-section-title {
    color: #ffffff;
  }